#navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 15px;

    height: 60px;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.navbar-log {
    cursor: pointer;
}

#navbar nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    font-size: 14px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}